html,
#root,
#root > div {
  /* background-color: #f6f8ff; */
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: bold;
  color: var(--h1);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
}
@media screen and (max-width: 500px) {
  .Search {
  }
}
