.theme-dark {
  --background-color: #141d2f;
  --card-background-color: #1e2a47;
  --card-accent-background-color: #697c9a;
  --text-main-text-color: #fff;
  --SVG-color: #fff;
}

.theme-light {
  --background-color: #f6f8ff;
  --card-background-color: #fefefe;
  --card-accent-background-color: #697c9a;
  --text-main-text-color: #4b6a9b;
  --SVG-color: #4b6a9b;
}

/* body {
  background-color: #141d2f;
} */

html,
#root,
#root > div {
  background-color: #f6f8ff;
  margin: 0;
  height: 100%;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 500px) {
  .Search {
    margin-top: -14rem;
  }
}
