html,
#root,
#root > div {
  /* background-color: #f6f8ff; */
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: bold;
  color: var(--h1);
}

.Top {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: -31rem;
  margin-left: 40rem;
}

.ThemeChanger {
  border: none;
  background: none;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: var(--ThemeToggler-text);
  padding-right: 1rem;
}

.ThemeChanger:hover {
  cursor: pointer;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .Top {
    margin-top: -31rem;
    margin-left: 30rem;
  }
}
@media screen and (max-width: 500px) {
  .Top {
    margin-top: -32.5rem;
    margin-left: 15rem;
  }
}
