@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Search-bar {
  background-color: var(--card-background-color);
  height: 69px;
  width: 730px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.noResult {
  position: absolute;
  color: red;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  margin-left: 27rem;
}

.Search-Form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.Search-bar img {
  margin-left: 2rem;
  margin-right: 1rem;
}

#search {
  background-color: var(--card-background-color);
  width: 270px;
  font-size: 18px;
  color: var(--text-main-text-color);
  border: none;
  font-family: "Space Mono", monospace;
  outline: none;
}
input:foucs,
textarea:focus {
  outline: none;
}

#submit {
  background-color: #0079ff;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 106px;
  font-size: 16px;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  margin-right: 0.5rem;
}

@media screen and (max-width: 900px) {
  .Search-bar {
    width: 573px;
  }

  .noResult {
    margin-left: 17rem;
  }
}

@media screen and (max-width: 500px) {
  .Search-bar {
    width: 327px;
  }

  .Search-bar img {
    height: 20px;
    width: 20px;
    margin-left: 1rem;
    margin-right: 0;
  }

  .noResult {
    font-size: 13px;
    margin-top: 2rem;
    margin-left: -11rem;
  }
  #submit {
    height: 46px;
    width: 84px;
  }
  #search {
    background-color: var(--card-background-color);
    width: 180px;
    font-size: 13px;
    color: #4b6a9b;
    border: none;
    font-family: "Space Mono", monospace;
    outline: none;
    margin-right: 0;
    margin-left: 0.5rem;
  }

  .Search-Form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
  }
}
