@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.theme-dark {
  --background-color: #141d2f;
  --card-background-color: #1e2a47;
  --card-accent-background-color: #697c9a;
  --text-main-text-color: #fff;
  --SVG-color: #fff;
}

.theme-light {
  --background-color: #f6f8ff;
  --card-background-color: #fefefe;
  --card-accent-background-color: #697c9a;
  --text-main-text-color: #4b6a9b;
  --SVG-color: #4b6a9b;
}

.Search-bar {
  background-color: #fefefe;
  height: 69px;
  width: 730px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.noResult {
  color: red;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  margin-left: 10rem;
}

.Search-Form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.Search-bar img {
  margin-left: 2rem;
  margin-right: 1rem;
}

#search {
  background-color: #fefefe;
  width: 270px;
  font-size: 18px;
  color: #4b6a9b;
  border: none;
  font-family: "Space Mono", monospace;
  outline: none;
}

#submit {
  background-color: #0079ff;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 106px;
  font-size: 16px;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .Search-bar {
    width: 573px;
  }

  .noResult {
    margin-left: 5rem;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .Search-bar {
    width: 327px;
  }

  .Search-bar img {
    height: 20px;
    width: 20px;
    margin-left: 1rem;
    margin-right: 0;
  }

  .noResult {
    visibility: collapse;
  }
  #submit {
    height: 46px;
    width: 84px;
  }
  #search {
    background-color: #fefefe;
    width: 180px;
    font-size: 13px;
    color: #4b6a9b;
    border: none;
    font-family: "Space Mono", monospace;
    outline: none;
    margin-right: -4.5rem;
    margin-left: 0.5rem;
  }

  .Search-Form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
  }
}
