@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Search-bar {
  background-color: #1e2a47;
  height: 69px;
  width: 730px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.noResult {
  color: red;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  margin-left: 10rem;
}

.Search-Form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.Search-bar img {
  margin-left: 2rem;
  margin-right: 1rem;
}

#search {
  background-color: #1e2a47;
  width: 230px;
  font-size: 18px;
  color: #fff;
  border: none;
  font-family: "Space Mono", monospace;
  outline: none;
}

#submit {
  background-color: #0079ff;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 106px;
  font-size: 16px;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  margin-right: 0.5rem;
}
