@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.theme-dark {
  --background-color: #141d2f;
  --card-background-color: #1e2a47;
  --card-accent-background-color: #697c9a;
  --text-main-text-color: #fff;
  --SVG-color: #fff;
}

.theme-light {
  --background-color: #f6f8ff;
  --card-background-color: #fefefe;
  --card-accent-background-color: #697c9a;
  --text-main-text-color: #4b6a9b;
  --SVG-color: #4b6a9b;
}

.nullBio {
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.UserView {
  background-color: #fefefe;
  width: 730px;
  height: 419px;
  border-radius: 15px;
  margin-top: 1.5rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserInfo {
  margin-left: 2rem;
  margin-top: 2rem;
  width: 500px;
}

.UserTop {
  display: flex;
  flex-flow: row;
  padding-top: 0.5rem;
}

.UserTop img {
  height: 117px;
  width: 117px;
  border-radius: 50%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.Name {
  color: #4b6a9b;
  width: 200px;
  font-size: 26px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  margin-bottom: 0;
  margin-top: 0;
}

.Login {
  color: #0079ff;
  width: 100px;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin-top: 0;
}

.Bio {
  color: #4b6a9b;
  width: 250px;
  font-size: 15px;
  font-family: "Space Mono", monospace;
}

.Joined {
  color: #4b6a9b;
  width: 250px;
  font-size: 15px;
  font-family: "Space Mono", monospace;
  text-align: end;
}

.repoInfo {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 42px;
  width: 480px;
  height: 85px;
  background-color: #f6f8ff;
  border-radius: 15px;
  margin-left: 11rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

.repoTitles {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-items: center;
  justify-self: center;
  width: 100px;
}

.repoTitles p {
  color: #4b6a9b;
  font-weight: regular;
  font-size: 13px;
  font-family: "Space Mono", monospace;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 5rem;
}

.repoCount {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-items: center;
  justify-self: center;
  width: 100px;
}

.repoCount p {
  color: #2b3442;
  font-weight: bold;
  font-size: 22px;
  font-family: "Space Mono", monospace;
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 5rem;
}

.contactInfo {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 30px;
  margin-left: 11.5rem;
  margin-top: 2rem;
}

.location,
.twitter,
.website,
.location,
.company {
  display: flex;
  align-items: center;
  justify-self: start;
  width: 200px;
}

.twitter img,
.website img,
.location img,
.company img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(0%)
    contrast(103%);
}

.location p,
.website p,
.twitter p,
.company p {
  color: #4b6a9b;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  margin-left: 1rem;
}

@media only screen and (max-width: 880px) {
  .UserView {
    width: 573px;
  }

  .repoInfo {
    width: 493px;
    margin-left: 3rem;
  }

  .contactInfo {
    margin-left: 4rem;
    margin-top: 1rem;
  }

  .Bio {
    margin-top: 4rem;
    margin-left: -9rem;
  }

  .Joined {
    position: absolute;
    margin-top: 8.5rem;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .UserTop img {
    height: 70px;
    width: 70px;
    margin-top: 2rem;
  }

  .UserTop p {
    font-size: 13px;
  }
  .UserInfo {
    margin-top: 1.5rem;
  }
  .UserView {
    width: 327px;
    height: auto;
  }
  .Bio {
    margin-top: 4rem;
    margin-left: -6rem;
  }

  .Joined {
    position: absolute;
    margin-top: 7.5rem;
    margin-left: -3.2rem;
  }

  .repoInfo {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 42px;
    width: 279px;
    height: 85px;

    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .repoTitles {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    align-items: center;
    justify-self: center;
    width: 100px;
  }

  .repoTitles p {
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .repoCount {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    align-items: center;
    justify-self: center;
    width: 50px;
  }

  .repoCount p {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .contactInfo {
    display: block;
    margin-left: 4rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
}
